extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Danh sách khoá học")

    .row
      if(courses.length > 0)
        each item in courses
          .col-4.mb-3
            .product-item
              .inner-image
                a(href=`/detail/${item.slug}`)
                  img(src=item.thumbnail, alt=item.title)
              .inner-content
                h3.inner-title
                  a(href=`/detail/${item.slug}`) #{item.title}
                .inner-price-old #{item.price}$
      else
        div(class="col-12")
          div(class="alert alert-danger") Không tìm thấy sản phẩm nào.