extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row.col-9
            h1 #{course.title}

    .container.my-5
        .row
            .col-9
                iframe(width='1200' height='526' 
                    src=`${course.video}`
                    title=`${course.title}`
                    frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' 
                    allowfullscreen='')

        .row
            .col-3
                a(href='' class="btn btn-success btn-block") Hoàn thành khoá học!